

body {
    background-image: url("imagenes/boca.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

img {
    height: 170px;
    width: 120px;

}


h1 {
    color: mintcream;
}

h2 {
    color: rgb(134, 12, 128);
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
}

h4 {
    color: orangered;
    font-style: italic;
    font-weight: lighter;
    font-size: 100%;
    line-height: 1.5;
}


#nombre {
    color: rgb(255, 0, 0);
    border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

li {
    color: goldenrod;
}

ol {
    color: mediumblue;
}

.DESCRIPCION h3{
    color: mediumorchid;
    text-decoration-line: underline;
}

#lorem1 {
    margin-top: 30px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: lighter;
    font-size: medium;
    text-align: center;
    line-height: 150%;
}